A9_MYSQL_DATABASE=a9
A9_MYSQL_USER=a9
A9_MYSQL_PASSWORD=a9_dev_password
A9_MYSQL_ROOT_PASSWORD=a9_root_password
A9_MYSQL_PORT=33069
A9_DATABASE_URL=mysql://a9:a9_dev_password@127.0.0.1:33069/a9

A9_REDIS_PORT=63799
A9_REDIS_URL=redis://127.0.0.1:63799/0
A9_CONTEXT_TOKEN_BUDGET=24000
