需求管理及分析工作指南

版本：V1.0

编写人： 

完成日期：

目   录

  TOC \o "1-3" \h \z    HYPERLINK \l _Toc667  1  目的	  PAGEREF
_Toc667 \h  4  

  HYPERLINK \l _Toc24877  2  范围	  PAGEREF _Toc24877 \h  4  

  HYPERLINK \l _Toc15743  3  定义和缩写	  PAGEREF _Toc15743 \h  4  

  HYPERLINK \l _Toc13986  4 工作流程指南	  PAGEREF _Toc13986 \h  4
 

  HYPERLINK \l _Toc32353  4.1需求审核	  PAGEREF _Toc32353 \h  4  

  HYPERLINK \l _Toc13665  4.2需求分析	  PAGEREF _Toc13665 \h  5  

  HYPERLINK \l _Toc11928  4.3需求评审	  PAGEREF _Toc11928 \h  5  

  HYPERLINK \l _Toc19837  4.4用户确认	  PAGEREF _Toc19837 \h  5  

  HYPERLINK \l _Toc24995  4.5需求调整	  PAGEREF _Toc24995 \h  5  

  HYPERLINK \l _Toc24931  5 需求分析方法论	  PAGEREF _Toc24931 \h
 6  

  HYPERLINK \l _Toc16758  5.1 沟通前准备	  PAGEREF _Toc16758 \h  6 


  HYPERLINK \l _Toc1909  5.2 调整心态	  PAGEREF _Toc1909 \h  7  

  HYPERLINK \l _Toc13894  5.3 搞清楚“是什么”和“为什么”
  PAGEREF _Toc13894 \h  7  

  HYPERLINK \l _Toc19736  5.4 引导用户需求	  PAGEREF _Toc19736 \h 
8  

  HYPERLINK \l _Toc28094  5.5 沟通总结	  PAGEREF _Toc28094 \h  8  

  HYPERLINK \l _Toc12202  5.6 确认系统需求	  PAGEREF _Toc12202 \h 
9  

  HYPERLINK \l _Toc17594  5.7 系统解决方案的选择	  PAGEREF
_Toc17594 \h  10  

  HYPERLINK \l _Toc25024  6 需求规格说明书编写要求	  PAGEREF
_Toc25024 \h  12  

  HYPERLINK \l _Toc28668  6.1业务背景及调整原因	  PAGEREF
_Toc28668 \h  12  

  HYPERLINK \l _Toc26510  6.2业务流程	  PAGEREF _Toc26510 \h  12  

  HYPERLINK \l _Toc25468  6.3测试要点	  PAGEREF _Toc25468 \h  12  

  HYPERLINK \l _Toc11121  6.4风险提示	  PAGEREF _Toc11121 \h  12  

  HYPERLINK \l _Toc13634  6.5需求规格说明书细化程度要求	 
PAGEREF _Toc13634 \h  13  

  HYPERLINK \l _Toc29684  6.6页面风格	  PAGEREF _Toc29684 \h  15  

  HYPERLINK \l _Toc24544  7 需求分析质量指南	  PAGEREF _Toc24544
\h  15  

  HYPERLINK \l _Toc11972  7.1无歧义性	  PAGEREF _Toc11972 \h  15  

  HYPERLINK \l _Toc10770  7.2可读性	  PAGEREF _Toc10770 \h  16  

  HYPERLINK \l _Toc24682  7.3完整性	  PAGEREF _Toc24682 \h  19  

  HYPERLINK \l _Toc25613  7.4可验证性	  PAGEREF _Toc25613 \h  20  

  HYPERLINK \l _Toc18126  7.5一致性	  PAGEREF _Toc18126 \h  21  

  HYPERLINK \l _Toc28797  7.6可修改性	  PAGEREF _Toc28797 \h  21  

  HYPERLINK \l _Toc27849  7.7可追踪性	  PAGEREF _Toc27849 \h  22  

  HYPERLINK \l _Toc32329  7.8异常处理流程	  PAGEREF _Toc32329 \h 
22  

  HYPERLINK \l _Toc8018  7.9其他	  PAGEREF _Toc8018 \h  22  

  HYPERLINK \l _Toc16781  8 非功能性需求质量指南	  PAGEREF
_Toc16781 \h  22  

  HYPERLINK \l _Toc30986  8.1易用性	  PAGEREF _Toc30986 \h  23  

  HYPERLINK \l _Toc11639  8.2性能需求	  PAGEREF _Toc11639 \h  23  

  HYPERLINK \l _Toc7988  8.3操作和环境要求	  PAGEREF _Toc7988 \h 
24  

  HYPERLINK \l _Toc32225  8.4安全性要求	  PAGEREF _Toc32225 \h  25 


  HYPERLINK \l _Toc25435  9  记录和表格	  PAGEREF _Toc25435 \h  28 


  HYPERLINK \l _Toc5853  9.1 系统功能菜单涉及部门对照表	 
PAGEREF _Toc5853 \h  28  

  HYPERLINK \l _Toc22321  9.2 需求检查清单及关键功能清单	 
PAGEREF _Toc22321 \h  29  

  HYPERLINK \l _Toc12695  9.3 异常处理流程指南	  PAGEREF
_Toc12695 \h  29  

  HYPERLINK \l _Toc3186  9.4 样例	  PAGEREF _Toc3186 \h  29  

 

1  目的

本文档是需求管理、需求分析人员的工作指南，用于指
导需求管理、需求分析人员的日常工作。以便需求管理
/需求分析团队能更好的管理需求、分析需求，提高工
作效率，确保软件产品的质量。

2  范围

本规范适用于XXX需求工作的需求审核、需求分析、需求
评审等阶段。

3  定义和缩写

4 工作流程指南

需求管理及分析工作流程详见《IAE03-WI-010需求管理及分
析工作规范》。

4.1需求审核

需求分析人员在收到需求申请后，需要从以下几方面对
需求进行审核。

需求提交背景和目的：结合系统现状从用户角度理解需
求内容，了解用户要解决什么问题，并结合需求内容确
定需求类型（包括新功能需求、功能变更需求、功能补
充需求等）

需求菜单路径：核对菜单模块和路径描述是否准确完整
。

结合需求内容确定是新增菜单还是原有功能调整。如果
是新增菜单，审核新增菜单的合理性和必要性；如果是
原有功能调整，核对菜单模块和路径的描述与系统现有
菜单结构是否一致；

若需求涉及多个模块，核对菜单模块和路径是否完整列
出；

结合需求内容确定是否涉及后台表定义或数据维护需求
。

需求功能描述内容：结合系统环境和前后关联业务环节
，审核用户需求是否准确描述其要实现的功能；若需求
涉及多个模块，需检查各模块需求描述是否完整正确。

需求提交部门负责人：这个栏目必须有相关负责人签字
。

需求汇签部门负责人：若需求涉及其他部门使用的功能
菜单，需由其他部门负责人汇签。

需求如果涉及多个系统的调整，需按涉及系统对需求进
行拆分。如果涉及系统不属于部门项目范围内的，需联
系用户将需求提交给对应的部门进行处理。

评估拆分的需求间是否有较强的关联关系（需同步上线
，或者一个需求必须在另外一个需求完成的基础上才能
上线），有则必须建立关联关系。

4.2需求分析

需求分析人员在完成需求分析完成后，需根据需求检查
清单自行仔细检查以保证文档质量后提交需求评审。

4.3需求评审

评审未通过的需求规格说明书，需求分析人员在修改时
，统一采用修订模式修改，并在邮件正文注明被修改的
部分，以方便评审人员进行再次评审。

4.4用户确认

评审通过的需求规格说明书首次提交给用户确认时采用
“接受对文档的所有修订”，以呈现给用户完成后的清
晰文档。

4.5需求调整

在用户确认阶段或开发或测试过程中，用户或开发人员
或内测人员对需求提出问题或变更，需求人员针对问题
或变更进行分析评估。

如果是业务需求有提及，需求人员在分析过程中遗漏或
理解偏差导致，由需求人员与用户进行电话或邮件沟通
确认，确认完成后修改已定稿的需求规格说明书。

调整需求规格说明书时，采用颜色底纹标注修改内容，
并在“文档相关信息”中注明被修改的点，以方便用户
或开发、测试进行再次确认。

调整后，需求分析人员需发送需求调整邮件通知。在需
求评审结果邮件的基础上，加上需求提交人。请相关设
计/开发/测试人员知晓，若有异议1个工作日内反馈，否
则默认同意；请需求提交人邮件确认调整内容。调整后
的需求规格说明书需及时上传至需求管理平台上。

5 需求分析方法论

在高质量软件项目中，需求工程的作用举足轻重，需求
分析工作自然是重中之重。

需求分析中70%~80%是沟通，沟通技巧至关重要。沟通时
要先明确需求总体的方向，然后再逐步确认细节。

5.1 沟通前准备

需求分析前，需要和用户进行沟通，了解需求的背景和
内容。需求分析人员在沟通开始前做好准备工作，沟通
过程中才能掌握主动权，沟通的质量才有保证，效果才
能达到预期。

沟通前的准备可以包括以下几方面：

对于维护类项目需求，了解系统现状。

可以从以下几方面入手：

参阅现有的需求分析文档；

系统测试：较直观的感受系统现有功能；

代码排查：了解后台处理逻辑，可找开发人员协助；

现场体验：到用户工作现场进行考察。

准备沟通问题列表，需站在用户的角度考虑问题。

例如：

当前业务上存在什么问题？

业务发展方向是什么？

这些问题是当前的关键问题吗？

这些问题是如何影响业务发展的？

这些问题是不是一定需要通过系统来解决？

系统功能的加入会如何改变用户目前的工作方法？

系统能提高用户部门的工作效率吗？

系统对业务的贡献度是多少？

制定好需求沟通的计划，对需求沟通中可能用到的资源
进行一定的分配。

准备好需求沟通中所要使用到的工具。如电脑、白板等
。

以上内容准备好后，就可以根据需求涉及的用户岗位适
时适当的选择沟通对象。

5.2 调整心态

需求分析人员需要能够清晰判断用户的回答的真实性，
让用户逐步把对问题的回答引入到自己预设的轨道中。
唯有这样谈下去才能谈得更深入。这就需要做到：

保持一种和用户平等合作的心态。确定需求沟通时为了
给用户解决问题，探讨问题，而不是接受问题，更不是
来指导工作的。

保持平静面对需求变更的心态。在需求沟通过程中，往
往会因为双方对需求理解不一致，造成需求沟通前后矛
盾，应当心平气和地去引导用户，达到需求理解完全一
致。

5.3 搞清楚“是什么”和“为什么”

需求沟通时必须能够区分需求背景和实现方案的差异。
有时候用户提过来的需求，直接是实现方案，如果直接
按照这个思路做下去，最后可能会发现并不能解决用户
真正的问题而提出一系列的需求变更。只有了解清楚需
求背景，才能判断实现方案能否解决这些问题，以及是
否还有更优的方案可以选择。

沟通中对于一些有歧义的表述，可以用自己的理解再次
阐述，让用户确认是否正确，以免理解偏差。

需求沟通过程中还要搞清楚“必须做什么、应该做什么
和可以做什么”。分层次来逐步解决用户的需求。并不
是所有的用户需求都要通过系统来实现的，比如系统实
现对业务贡献率很低而开发成本相对较高，通常会建议
用户系统外处理这部分业务。再比如系统实现难度大风
险高，通常另辟新径或选择放弃。系统主要优先解决用
户最基本的诉求。

总之需求阶段要搞清楚的是：客户要什么东西，打算做
成什么样子，为什么要这样做，对方愿意付出多少代价
，系统可以做到什么程度，等等。

5.4 引导用户需求

许多的用户有时并不知道自己想要什么，有时并不清楚
自己缺少什么，或者对方的需求天马行空，什么都想要
，但实际并不一定是他所要的。我们需要通过需求沟通
去引导用户以发现真实的需求。

引导用户需求有几种常用方法：

向用户讲述基本的系统功能；

向用户演示将要实施的系统的原型（如页面初稿）；

从软件开发中需要考虑的几个方面入手。

5.5 沟通总结

需求沟通是一个漫长的过程。能够正确理解用户的需求
，并且将用户的各种需求完整地体现在《软件需求规格
说明书》中将更是一个复杂而艰辛的过程，因此在每一
次的会谈之后必须将当天的会谈纪录形成文档，让用户
进行确认。

会议纪录包含以下几方面：

会议时间：需求讨论的时间；

会议地点：需求讨论的地点；

会议内容简要描述：本次讨论的背景和内容简介；

会议结论：本次讨论的结论，需细化到具体方案；

后续事项：需会后处理的各事项内容及责任人。

需求沟通是一个倾听(记录(整理(确认的迭代过程。在需
求沟通后必须要作总结。一方面不仅可以提炼需求条目
，对各类需求进行优先级排序与综合考量。另一方面通
过对整个沟通过程的回忆，可以事后仔细研磨得失，达
到不断提升、持续改进的效果与目的。

这个过程相当于围棋中的复盘，优秀的棋手对复盘过程
一丝不苟，要做好需求分析也值得我们精益求精。

5.6 确认系统需求

用户需求和系统需求是两个层面，用户需求旨在从业务
角度描述实现什么样的业务要求，但是对于技术人员来
说，用户需求似乎比较笼统，很容易产生歧义，故需要
将业务需求提炼成系统开发的需求。

系统需求就是，站在系统本身的角度，描述为了达到用
户需求，系统应该是什么样的？

这个阶段，通常需要用户、需求分析人员和开发人员一
起参与讨论，将系统排查阶段整理的信息与用户需求进
行对比、讨论解决方案，最终达成一份三方均认可的系
统开发的需求内容。一般包括以下几个方面：

确定系统实现的功能范围；

列举出详细的功能点；（并说明这些功能是解决哪些问
题的）

可能存在的风险点；

是否要考虑系统的可扩展性、可靠性、系统性能等非功
能性需求。

讨论解决方案时，可以通过列举各方案的优缺点进行比
较，引导用户和开发进行选择。

例如：营改增税率调整需求，由于各地国税局对于免税
险种认定的理解存在差异，故存在应税、免税状态调整
的情况，调整后需进行纳税的计提调整。

需求分析时想到了两种方案：

方案	优点	缺点

方案一：新增费用类型，对已产生的保费收入费用进行
调整。	与保费收入费用有关联关系的费用不用调整。
需要新增多个费用类型；

统计保费收入的报表需要进行调整。

方案二：冲销原费用，按照新的应税/免税状态重新生
成保费收入费用。	不用新增费用类型；

保费收入报表不受影响。
与保费收入费用有关联关系的费用需一并调整。

根据列举的优缺点可以判断，使用方案二比较合适。

5.7 系统解决方案的选择

制定系统解决方案需要遵循以下原则：

减少模块间的耦合程度

减少模块间依赖关系，让每个模块尽可能独立完成某个
特定的子功能。模块与模块之间的接口，尽量的少而简
单。有利于模块的重用性、维护性和可扩展性。

跨系统需求，也需要遵循以上原则，尽量减少系统间的
耦合程度。优先选择关联系统少的方案。

按操作岗位进行功能切分

菜单功能应按照用户实际岗位的职责进行划分，什么岗
位就做什么事情。

不能为了省去退回操作，而把前面环节的功能整合到后
续环节。

例如：团险的理赔，录入复核人员主要负责账单信息的
核对和修改；审核环节主要负责审核理算金额和理赔结
论，对于账单信息只能查看，如果发现账单信息有误，
必须退回录入复核环节由相应岗位进行修改。而不能为
了省事，直接由审核环节的用户进行修改。

优先解决用户最基本诉求

并非所有的用户需求都要通过系统来实现，优先解决用
户最基本的诉求。在基本诉求已满足且资源较充裕的情
况下，再逐步考虑优化。

例如：理赔自动化项目需求中，诊断复核及定责页面，
用户要求支持右键菜单功能，以减少页面的按钮数量。

但是由于时间紧，且新技术研究需要时间，最终建议用
户先改为正常按钮功能，把需要的基本功能先支持了。
后续等基本功能都完成了再考虑支持右键功能。

降低系统实现的复杂程度

应当避免过度设计，设计了一个能够适用多种情况的方
案，但好多情况可能根本就不会发生，有些需求就是被
这样设计出来的。其实，只要保持简单，后续再添加新
的功能不会太难。

例如：团险理赔的录入复核页面，当时用户要求放了很
多功能在页面上，包括账单修改和就诊合并，修改了账
单又会影响已合并的就诊，需重新合并，功能相当复杂
。但调研下来，实际用户有很多功能根本就不会使用。
但是由于这些冗余的复杂功能，使得系统经常出错。

制定解决方案时，除了遵循以上原则，还有几种常用的
实现方案可供参考。具体如下：

页面展示

对于用户需求内明确需要通过可视化操作来实现的功能
，需求分析内需通过页面展示的方式来实现。

批处理

对于时效性要求不高，且由于业务量大需要批次处理的
业务功能，需求分析内可通过批处理的方式来实现。

接口

对于单个系统无法处理，需要多系统业务交互，且时效
性要求较高数据量较小的功能，需求分析内可通过定义
接口的方式来实现。

ETL数据同步

如果系统间某些数据访问量较大，且时效性不高，可以
通过ETL进行数据导入的功能来实现。

数据维护

下面几类情况需通过数据维护的方式实现：

码表或功能参数（例如初始化数据）的定义。

无法通过页面实现的与本需求功能相关的非常规功能，
且时效性要求不高。

以上几种需求实现方案比较难于界定的是接口、ETL和数
据维护，可以通过下面的例子进行理解：

例如核心将人管功能转移到新人管系统的需求，不同的
功能的实现方式则不同：

人员及组织信息的维护：人员及组织信息的维护虽然迁
移到新人管，但由于影响出单，核心需要实时同步这些
信息，所以这个功能新人管与核心需通过实时接口的方
式实现。

人员及组织信息中的码表信息维护：人员及组织信息中
有许多外键表（例如证书类型、代理人等级），这些外
键信息也迁移到新人管内进行维护，但由于外键表的更
新频率较低，可以通过数据维护的方式同步到核心系统
。

十三个月继续率：十三个月继续率迁移到新人管，但是
核心需要此信息每月计算代理人运营等级（此为核保所
需数据），由于此功能有明确的时效性，所以可以通过
ETL的方式每月定时将此信息同步到核心。

6 需求规格说明书编写要求

6.1业务背景及调整原因

对于新功能需求，需说明整体的业务背景；

对于已实现功能的调整，需对较大的调整点写明本次调
整的背景原因。

便于读者进行理解。

6.2业务流程

项目型需求中，需将整个业务处理的流程和规则（包含
系统内和系统外处理）描述清楚。

一方面，可以知晓目前哪些内容是系统还未支持，需系
统外处理的；

另一方面，知道了系统外的处理规则，可以更好的评估
实现方案及其可行性。

多系统交互的需求，需体现与其他系统的交互处理。

6.3测试要点

与用户沟通，确认本次需求中从业务角度出发，哪些是
比较重要的关注点。将业务关注点列举出来，后续测试
时需加强对这块内容的测试。

例如：监管的内容，保费金额，给客户的单证、通知等
。

6.4风险提示

对于需求分析过程中已考虑到的风险问题，在与用户达
成一致后，需在分析文档中加以说明。

6.5需求规格说明书细化程度要求

为区分需求分析与设计的撰写范围，通过常用的几个典
型需求实现方案来明确需求分析的细化程度：

公式

需求分析针对计算公式需详细描述公式内各参数的含义
及取值规则，但无需具体到数据库内对应的字段。另外
，还应适当举例说明。

页面

需明确页面内的各字段的显示逻辑、字段类型、取值范
围、校验规则、报错信息。

需明确页面按钮的显示逻辑、点击后校验规则、点击后
前/后台处理逻辑，需求规格说明书中不体现具体表名
和字段名，应以对象和属性进行描述。

对于功能补充需求和功能变更需求，必须描述清楚本次
调整点是新增的还是修改的。如果是修改的，需要分别
描述调整前和调整后的逻辑，以便用户、开发、测试了
解完整逻辑。

批处理

定义批处理的抽取范围、执行频率、执行优先级。

尽量用流程图描述批处理的处理流程。

如有流程图内的某些步骤逻辑比较复杂，可单独通过注
释的方式进行详细说明。

如涉及保存日志，需明确日志内需包含的数据，但不要
描述日志在后台的数据结构及保存方式。

接口

需描述每个接口的调用场景、接口服务方和接口调用方
。

需定义输入/输出参数、是否必填，参数码表（如涉及
）。

需描述接口规则逻辑。复杂的逻辑需以流程图的形式进
行表述。

如果系统间接口较多，需以系统交互图形式简要描述业
务要点。

不描述接口具体实现方式。

数据存储方式不做要求。

数据维护

需明确数据维护的范围。

需列出需要维护的数据在系统内对应的对象和属性。例
如，需对保单来源进行调整，需说明是投保单层的，还
是保单层级的保单来源属性。

需明确维护业务逻辑和维护的先后顺序，如果有必要可
通过流程图的方式展现。

无需明确具体的数据库表名或字段名。

邮件、短信通知

邮件类通知，需要说明邮件接收人、主题、正文、是否
含附件、附件内容；

短信类通知，需要说明短信类别、短信内容、接收人。

所有系统只要是通过三部的短信平台发送的短信，凡是
涉及到短信通知调整（无论是调整原来的短信，还是本
次新增的短信），如果短信类别下的模板存在多个，必
须使用新的短信类别。

说明：为保证短信通知内容的正确性，新增或修改短信
模板后都会进行首单验证。在验证短信模板正确之前需
先关闭发送，待验证通过后才能开启发送短信。但短信
平台只能以短信类别为单位进行关闭，目前短信平台中
好几个模板放在一个短信类别下，这样会导致其他模板
也一起关闭。

例如A1、A2、A3等短信模板都属于A类模板，若本次修改
了A1模板需关闭该短信模板只能通过关闭所属A类的所有
短信模板，关闭期间A2、A3模板生成的短信内容也只能
先存储在中间表中，开发验证A1产生的短信模板是否正
确的同时，A2、A3产生的短信也需确认正确后才可发送
出去，耗费了不必要的人力。

对于历史数据暂时不做调整，后续新增或修改短信模板
时，需要逐步将每个模板单独作为一个短信类别进行保
存。

所以后续新增短信模板时，必须使用新的短信类别；修
改短信模板时，需看下当前模板所属短信类别下是否还
有其他模板，如有，则需调整为使用新的短信类别。

业务号编码

涉及到编码规则的，需要描述清楚编码中每个字段的取
值逻辑，并定义好各字段的长度及编码总长度。

6.6页面风格

界面需求是关于产品的外观和行为的精神、情绪和风格
。
例如很多用户要求产品具备本公司的代表颜色，这种要
求要么是坚持品牌标准，要么是希望强化顾客的认知。

对于外部使用的系统，界面的设计考虑更多的应该是品
牌标准；对于内部使用的系统，主要参考系统现有的页
面风格及用户的操作习惯。无论是内部系统或外部系统
，都可以采用原型技术的方法与用户沟通确认，但是原
型是用来帮助提取需求的，不应该看做是需求的替代物
。

页面的风格需要满足以下整体要求：

以用户为中心，易于学习，易于使用；

清晰一致的页面设计，同一个系统所有界面风格保持一
致，所有具有相同含义的术语保持一致；

美观大方，屏幕布局要重点突出，功能明显，上下左右
需平衡，不要堆挤数据。

7 需求分析质量指南

€\O(u。对需求规格说明书质量的考量，即是对以上提
及到的关键点的考量。

7.1无歧义性

需求规格说明书通常用自然语言编写，因此必须特别注
意消除需求分析的歧义性和二义性。

使用符合客户语言习惯的表达，使用的名称应该是通常
的业务名称，避免名称上的二义性。

句子简短完整，具有正确的语法、拼写和标点。力求通
俗易懂，条理清晰，内容连贯。

专门列出该需求分析中的所有业务和技术术语，以防止
它被不同的读者理解为不同的意思。特别是要说明清楚
那些既有普通含义又有专用领域含义的词语。

示例：

红利应分日：对于账户型产品，红利应分日，上一年红
利的应分日，是当前年度的1月1日；对于非账户型产品
，上一分红年度红利的应分日，则是当前年度的保单周
年日。

利息：是指补交保险费的利息，按补交保险费金额、经
过日数和利率依复利方式计算。利率为本公司规定利率
。

若某一术语在某一特殊的行文中使用时具有多种歧义，
那么对该术语的每种含义作出解释并指出其适用场合。


当用自然语言无法进行清晰的描述时，可以结合图表和
模型来进行更为直观准确的表达。

示例：在给付受理时，对是否可受理该给付项目进行判
断。判断条件是该保单含有的险种满足“给付类型”的
配置，如下表所示，为“Y”的方可受理。

给付类型/险种代码	204	205	206

养老保险金给付	Y	Y	Y

身故保险金给付	Y	N	Y

残疾保险金给付	N	N	N

离职保险金给付	N	N	Y

授权信息变更	Y	Y	Y



7.2可读性

需求规格说明书必须达到可读性要求，使读者能够正确
理解。

避免用词口语化、缺乏专业性。

示例：避免文档中出现“我们”、“你们”这样的称谓
，或是“这个”、“那个”这样的词，使用“本××”
、“该××”、“其”。

直观采用用户熟知的语言，避免使用计算机语言。

保证句子的主、谓、宾完整，避免缺少主语或只写半句
话。

示例：

修改前：业务费用和资金是两条并行的流程，在“收费
确认”时才有交集。

修改后：运营作业的收费流程和财务作业的资金管理是
两个并行流程，两者在财务“收费确认”环节发生交互
。

确保指代明确，指代内容增加引号。

避免大段描述。内容较多时将表述的内容拆分归类、分
段描述，每段开头处先总结，再展开描述。

示例：

修改前：

1、
检索条件中机构代码默认为登陆人员所在机构代码,不
允许修改

2、	收付类型:显示为收费

3、	业务类型为:契约、续期

4、
操作日期是指新契约和续期应收费用的生成日期;格式
为yyyymmdd.

5、
点击结算生成,系统校验:a选中的记录是否为同一投保人
：

若否,系统提示选中记录必须为同一投保人 b
若选中的应收记录已经开过发票,系统提示:请先注销原
发票,校验通过,系统弹出窗口显示

……

修改后：

检索条件：

1、受理机构：显示项，显示操作人员所在机构代码及
机构简称。

2、投保单位：检索条件录入项、非必录…..

…… 

检索结果：

检索结果以“投保人”、“生成日期”依次升序排序，
支持多记录的翻页显示。所有字段均为显示项，以下是
各字段说明：

1、受理机构：显示产生该笔业务费用的作业受理机构
代码。

2、……  

……

已选保单列表：

已选保单用于显示所有“检索结果”列表勾选中的机构
，不支持多记录翻页显示。所有同名字段含义及规则同
“检索结果”列表中的同名字段。

<结算单生成>按钮：

该按钮在“已选保单”列表中有记录时方可使用。点击
该按钮，系统顺次实现以下功能：

1、校验……;

2、校验…….;

具有清晰合理的树形结构。需求规格说明书也讲究层级
性，结构划分的基本原则是：同一层级按角色、按功能
划分，不同层级按隶属关系划分。同时结合多级标题、
小数编号、首行缩进等方法，使需求规格说明书层级清
晰、合理有序。

示例：

按照一定的顺序编写，基本的顺序有：时间顺序（流程
）、因果关系、问题-解决方案。

示例：第5点的例子，就是按照流程顺序去编写的。

多运用表格、图示等工具。表格和图能迅速传递信息、
直接关注重点、生动表达内容，配上简短说明能起到画
龙点睛的效果。

对于业务模型的表述，文字内容不容易理解，采用业务
模型的图例说明之间的对应关系。

示例：

描述较为复杂的规则或是公式时，增加举例说明。

7.3完整性

不遗漏要求和必需的信息，用好的结构化的自然语言及
图表模型进行描述，以保证整个需求规格说明书的整体
完整。

不能遗漏任何必要的需求信息，必须包含全部重要的用
户需求。

对用户需求中最终沟通下来本次不做调整的内容，需请
用户将这部分内容剔除后重新提交；或者在需求规格说
明书中列出沟通结果，说明本次不做调整的原因，请用
户签字确认。保证需求申请的内容全部体现在需求规格
说明书中。

对需求进行完整全面的描述，包括其业务流程，功能，
页面，数据需求，外部接口等。涉及流程图上每个步骤
提供编号，流程描述的会比较方便。

需求分析过程中除了正常的业务流程外，需要考虑异常
情况下的相关流程，避免系统错误而无人知晓的情况（
例如多个系统交互时，自动进行重发或通知等）

针对有历史数据需要维护的情况，需求规格说明书中需
要提供具体的维护方案，而不是简单的描述需要对历史
数据维护。

符合需求分析模板要求。如果个别章节不适用，则在需
求规格说明书中要保留章节号，内容标记为无。

需求规格说明书中必须包含修改的历史记录（在文档相
关信息栏中注明），以便开发人员对修改的需求进行更
好的追踪。

定义全部术语和度量单位。

图表模型及其说明必须完整。

尽量减少使用“待定”一词的次数。若万一遇到使用“
待定”一词时，对产生“待定”一词的条件进行描述，
使得问题能被解决。描述必须干什么事，以删除这个“
待定”。

7.4可验证性

需求规格说明书中体现的内容必须是可以量化的，能够
制定出具体的测试计划和验证方法。

需求规格说明书中对每一个功能及性能的描述都是清晰
，可验证的。根据该描述可以给出测试计划和验证方法
。

示例：使用具体的术语和可测量的数值进行描述。比如
80%的用户在登陆后5秒钟内可加载出首页所有内容。

避免使用模糊、主观的术语，减少不确定性，如“界面
友好、操作方便”等。

避免使用比较性词语，如“提高”，应定量说明提高程
度。

避免使用不可度量的描述，如“用户命令响应通常不超
过10秒钟”。其中“通常”的理解是不可度量的。

7.5一致性

需求规格说明书的上下文描述不矛盾。

示例：检索条件中有多个字段，均描述为必录项，但下
文<检索>按钮的校验为所有检索条件必须至少录入一个
。那么检索条件中的字段都应该描述为条件必录项。

需求规格说明书的前后逻辑不矛盾。

多数出现在功能性的判断逻辑上，保持功能逻辑一致性
。

举例：在减少保额需求中，经办录入页面，有以下描述
：在可选列表中选中一条记录时，需要校验该分单是否
有锁定，有则报错。后文又描述，在可选列表中选中记
录点击<修改>按钮时，校验当前选择的记录是否已在“
已修改列表”中存在，存在则报提示。

但其实选中记录点击<修改>按钮时系统已对分单进行了
加锁。所以再次在可选择列表中选中该分单记录时就会
报错。后文的点击<修改>时校验当前记录在“已修改列
表”已存在这个提示根本报不出来。将可选列表中选中
记录时进行分单锁定校验这部分内容去掉，就没有逻辑
冲突了。

需求规格说明书中陈述的各种功能，性能是相容的，没
有互相发生矛盾或者冲突。

与其他软件需求或高层（系统，业务）需求不相矛盾。

需求规格说明书中的陈述应该有一致的样式，例如“系
统必须..”或者“用户必须..”，并紧跟一个行为动作
和可观察的结果。

需求规格说明书中使用的术语与定义的一致。描述同一
对象不能存在两个以上的不同术语

需求规格说明书中的页面全部采用VISIO绘制或截屏获取
。

当对需求规格说明书中的某一部分进行修改时，必须保
证与修改部分相关的其它部分也要进行修改。

在整个系统中所有需求规格说明书都需要来完成一致性
的体现。保持对以往需求规格说明书中菜单名称、逻辑
功能表述、业务术语定义、图片展示格式描述的一致性
。

7.6可修改性

需求规格说明书的结构和风格在需求有必要改变时必须
是易于实现的、完整性的、一致的，那么这个需求规格
说明书就是可以修改的。 

具有一个有条不紊的易于使用的内容组织，具有目录表
，索引和清晰的各模块分类。

没有冗余。冗余容易发生错误。冗余可增加需求规格说
明书的可读性，但是在一个冗余文件被更新时容易出现
问题，公共的内容，可以从文档中提炼出来，供后续章
节调用。例如：假设一个明确的需求在两个地方详细列
出，后来发现这个需求需要改变，若只修改一个地方，
那么需求规格说明书就变得不一致了。

对需求规格说明书进行修改时使用修订模式，并在文档
中注明修改的历史记录。

7.7可追踪性

每项需求以一种结构化的，粒度好的方式编写并单独标
明，而不是大段大段的叙述。这样就能在每项需求与它
的业务和设计元素，源代码，测试用例之间建立起跟踪
链。

7.8异常处理流程

为了避免系统异常导致无人知晓或无法继续处理的情况
，需求分析过程中除了保证正常的业务流程外，还需要
考虑异常流程的处理，根据目前常见的情况从接口、页
面类、后台异步处理、FTP文件传输几大类描述了异常处
理流程的指南，供需求分析人员参考，需求分析时至少
需要考虑到这些情况。

7.9其他

正确地把握需求分析的细化程度。

保持需求规格说明书的整体美观，注意格式和字体的统
一。

注意增强用户阅读需求规格说明书时的便利性，在每个
图表下注明编号和名称，文档中引用图表时使用超链接
。

8 非功能性需求质量指南

非功能性需求是产品必须具备的品质，是需求规格说明
的重要组成部分。当某个产品满足了它所要求的功能需
求，非功能需求的属性如果不能得到满足可能造成无人
使用或不被接受。

非功能性并不会改变产品的基本功能，主要包括易用性
、性能、操作和环境要求、安全性、外观及风格等方面
。

非功能性需求必须是可量化和测试的，如果无法量化的
需求，它可能不是一项真正的需求，对于这样的需求不
需要在需求规格说明书中体现。

例如：

用户要求：

“第一次使用该产品时，产品应该易于使用”。这样的
要求直接描述在需求分析上是没有意义的。

经过沟通、量化分析后，可以这样描述：

客户代表中X%的人在第一次使用该产品时，能够在X秒内
成功的完成（某一项任务）。

8.1易用性

易用性：是指产品符合用户的能力和期望。产品的易用
性可能是决定目标用户是否真正使用它的关键因素。用
户的特征不同导致期望不同，作为需求分析人员，需要
考虑怎么样的易用性水平将给用户带来更舒服的体验。
在编写易用性需求时，需要清楚的了解：

客户期望产品达到的易用性水平；

目标用户（谁将要使用你的产品）的能力、水平；例如
：被没有计算机使用经验的人使用。

易用性分析时，友好性方面考虑：

产品应该避免要求用户重复已输入的数据。例如：当在
某个网站注册用户时，填写所有的个人信息。但是在提
交时由于某一项不满足规则校验（密码规则不满足系统
要求），将用户所输入的个人信息全部被清楚，要求重
新输入一次。

删除操作时，增加相关的礼貌提醒，以免用户误操作；

当用户进行某些重要操作后，用户操作后需要给予相应
的友好性提示。

例如：如果某个按钮的功能是异步处理的，点击后可提
示用户稍后通过哪些功能查看处理结果，避免一些不必
要的等待；

8.2性能需求

性能需求：主要是描述产品的响应速度、容量、可靠性
、可伸缩性等方面的要求。

系统的响应时间要求：根据系统的内外部属性、使用频
率、使用人群等，可能要求不同的响应时间，需要考虑
以下情况：

响应时间：明确描述用户能够接受的响应时间（例如查
询时间不能超过5秒，超过5秒可能用户的体验会很差）

支持文档上载功能时，考虑文件上载大小限制；

数据较多时，控制查询范围或考虑分页；

逻辑复杂时，考虑分流或异步制式报表的形式实现。

系统用户容量要求：指定产品有能力处理的期望的数据
量。描述用户的业务场景要求，由开发根据业务场景要
求分析最终的指标数据；尤其是外部的系统，要重点分
析业务的高峰期情况下需要支持多个个并发用户，非业
务高峰期时需要支持多少个并发用户。

例如：在线支付功能或限时抢购类（例如开门红）产品
，在业务高峰期满足X个并发用户使用，其他时间的最
大负载是X个用户。

可扩展性需求：指定产品必须处理的预期的容量能力，
确保设计者考虑到将来的能力。对于新建的项目或新增
功能，需要考虑这方面的预期要求。例如业务场景描述
：产品应该处理原有的10万个顾客，预期在3年内会增长
到50万。

8.3操作和环境要求

操作和环境需求：指产品必须在什么环境下才能保证正
确的操作。由于产品不可能支持所有的设备上都能正常
使用，所以在需求分析时必须考虑物理环境及主流的设
备的支持情况。

Web版的需求，需要在需求中明确支持的浏览器、版本、
机器的配置情况等。

移动版，需要在明确支持哪些操作系统、版本、尺寸大
小等。确保在这些限制的条件下，不影响用户的正常使
用。自适应的一般明确以上内容；非自适应的明确分辨
率。

尤其在安卓系统的手机，需求人员在进行需求分析前期
就必须明确这款移动应该适应的手机，一般都是按照手
机分辨率进行布局。

举例：微信上一般是采用：1334*750

8.4安全性要求

8.4.1用户账号及密码管理

公共规则：内部及外部系统都适用。

当用户连续错误输入用户密码超过一定次数（例如5次
）时，用户账号被锁定；

账号被锁定或密码遗忘的，应当能通过自助找回机制找
回密码，密码自助找回机制应当防止被恶意使用；外部
系统如不设置自动解锁，应当设置其他的解锁机制，并
在系统页面的显要位置提示用户。

用户停止操作规定的时间后自动登出系统。

登录时，失败提示信息应当避免过于明确。比如：可以
使用“用户名和/或密码错误”，而不要使用“用户名
错误”或者“密码错误”。错误提示信息在显示和源代
码中应保持一致；

使用基于邮件的密码重设，只将临时链接或密码发送到
预先注册的邮件地址。并且临时密码和链接应当有一个
短暂的有效期。当再次使用临时密码时，强制修改临时
密码；若使用基于短信找回密码，临时密码应当有一个
短暂的有效期。

用户密码使用防解码算法进行加密保存。

在没有实施有效安全控制措施的情况下，用户密码禁止
书面记录、传输及以明文展示出来，或记录于任何电子
文件中

内部系统：内部系统的需求规格说明书，应当对用户账
号及密码管理的安全性需求进行明确，包括但不限于：

需明确用户密码的强弱要求。内部系统的用户密码最低
需符合标准密码要求，超级系统管理员等特殊账号应设
置强密码。

用户密码规则：

系统须具有“首次登陆提醒用户更改默认密码”功能。

内部系统的用户密码须定期更改。根据信息系统的不同
等级，以及不同的用户类型，用户密码更改周期有不同
的规定。具体请参见公司相关规定。

同一内部系统的密码更改不得与最近的前三次（代）相
同。

为保证重要信息系统的应用安全，已经接入统一身份管
理平台的内部系统可以根据系统主管部门的意见，在登
入重要功能模块前采取多因素认证方式，增加一个用户
身份认证的环节。

外购的标准化商业软件系统如不能按照本规定配置用户
密码的，应当在系统上线时直接接入内网统一身份管理
平台。

采用生物识别技术（如指纹识别、脸相识别、视网膜识
别、虹膜识别等）作为系统登录唯一依据的，不需定期
变更。

外部系统：需求规格说明书，应当对用户账号及密码管
理的安全性需求进行明确，包括但不限于：

除了那些特定设为“公开”的内容以外，对所有的网页
和资源要求身份验证。

外部系统登录时，需要包括登录用户名、密码、图形验
证码、手机或邮箱验证码信息。

外部用户账号需遵循标准规定。 

外部用户账号的密码设定需遵循标准规定。

当外部用户在外部系统内进行重要操作时，系统应当补
充采取多因素认证方式对用户身份进行再确认，如：

进行重要的用户信息变更时，如文件或数据上传/下载/
删除、保单信息变更、手机号变更等；

进行涉及银行账号信息、资金往来的操作时，如在线缴
费、关联银行卡、资金转账等；

国家法律法规、行业监管等要求进行用户身份鉴别的其
他情况。

外部系统，支持电子文档上载时，需要明确单个文档的
大小限制、文档的格式要求。

需求规格说明书中需明确，是否需要在用户注册页面的
显要位置对用户自行设置的密码的强度进行提示。如，
符合内部系统标准密码强度要求的用户密码提示“中”
，不符合内部系统标准密码强度要求的用户密码提示“
低”，符合内部系统强密码要求的用户密码提示“高”
；

需求规格说明书中需明确，需要补充采取多因素认证的
具体功能模块或流程环节；

需求规格说明书中需明确，是否需要用户定期修改用户
密码或首次登录修改默认密码的功能；

8.4.2权限控制

需求规格说明书中应包含以下权限控制方面的要求：

应用程序须具备用户权限管理功能，支持对系统功能粒
度进行最小化权限分配管理原则。不应该向用户提供不
具备任何访问控制功能的应用系统。 

应用系统须提供根据角色分配权限的功能，除超级管理
员外，任意应用系统的账号不能覆盖系统权限全集，多
角色账号之间的权限应互相制约。

需求规格说明书中禁止采用数据维护等方法对系统权限
进行批量操作（只要涉及菜单权限问题，不能体现到需
求规格说明书中，可由系统管理员或有权限的人员通过
系统页面进行设置实现）。

8.4.3输入检测

需求规格说明书中应包含以下输入检测方面的要求：

所有用户输入的数据必须通过合法性检查，拒绝非法数
据录入。对用户输入数据的内容检查，防止SQL注入查询
的引入。 

系统对上传文件类型做限制，严禁可执行文件的上传；

客户端界面按钮增加控制手段，防范用户重复提交数据
可能造成的数据异常。 

8.4.4系统审计 

需求规格说明书中应包含以下系统审计方面的要求：

应用系统应包含以下关键日志信息：账户创建、删除、
远程登录、访问授权、并发登录、口令更新，初始口令
变更，其他账户管理；用户操作作业过程中的数据创建
，修改，删除等过程。关键数据交易应记录交易历史，
应可回溯回退。

8.4.5敏感数据输出管理

根据信息系统应用的不同，将需要脱敏的敏感信息字段
分为以下几大类别：

个人敏感信息：包括姓名、身份证号码、出生日期、学
历、宗教信仰、家庭住址/通信地址、联系方式（如：
手机号码、座机、邮件、传真）、工作单位信息、生物
身份鉴别信息等。

机构敏感信息：包括企业名称、组织机构代码、法人代
表、注册资金、注册地址、营业执照号等。

金融敏感信息：包括银行卡号、金融机构名称、支票号
、记账号或投资方向等。

业务敏感信息：包括保单号、产品名称、产品价格、产
品费率、红利因子、责任条款等。

其它信息：其它应特殊应用需求收集的涉及个人隐私或
企业商业机密的敏感数据字段等。

在信息输出时，需与用户协商确定针对各敏感字段的输
出方法，可不输出，或者在实施脱敏处理后输出。脱敏
的方法可采取虚假信息替代或随机码替换的规则。

报表默认不提供导出功能。如果用户一定需要，则需去
除敏感信息或经领导审核清楚说明数据的用途。

系统查询需避免like%大批量查询；

9  记录和表格

9.3 异常处理流程指南

 

	需求管理及分析工作规范	文件编号



	文件版次	1.0



文件页码	第   PAGE  14 页 共   NUMPAGES  28  页



